  <h1 class='wi'>Workers</h1>
  <p class='intro'>The hostnames below all have registered workers. Select a hostname to view its workers, or "all" to see all workers.</p>
  <table class='queues'>
    <tr>
      <th>Hostname</th>
      <th>Workers</th>
    </tr>
    <% worker_hosts.each do |hostname, workers| %>
    <tr>
      <td class='queue'><a class="queue" href="<%= u "workers/#{hostname}" %>"><%= hostname %></a></td>
      <td class='size'><%= workers.size %></td>
    </tr>
    <% end %>
    <tr class="failed">
      <td class='queue failed'><a class="queue" href="<%= u "workers/all" %>">all workers</a></td>
      <td class='size'><%= Resque.workers.size %></td>
    </tr>
  </table>