<% if multiple_failure_queues? && !params[:queue] %>
<h1>All Failed Queues: <%= Resque::Failure.queues.size %> total</h1>
<% else %>
<h1>Failed Jobs <%= "on '#{params[:queue]}'" if params[:queue] %> <%= "with class '#{params[:class]}'" if params[:class] %></h1>
<% end %>

<% unless failure_size.zero? %>
<%= form_tag("/failures/#{params[:queue] if params[:queue]}", :method => :delete) do %>
  <%= submit_tag "Clear #{params[:queue] ? "'#{params[:queue]}'" : 'Failed'} Jobs", :confirm => "Are you sure?", :class => 'btn btn-danger' %>
<% end %>
<%= form_tag("/failures/#{params[:queue] ? params[:queue] : "all"}/retry") do %>
  <%= submit_tag "Retry #{params[:queue] ? "'#{params[:queue]}'" : 'Failed'} Jobs", :class => 'btn' %>
<% end %>
<% end %>

<% if multiple_failure_queues? && !params[:queue] %>
<%= render :partial => 'overview' %>
<% else %>
<p class="sub">Showing <%= failure_start_at %> to <%= failure_end_at %> of <b><%= failure_size %></b> jobs</p>

<ul class="failed">
  <% each_failure do |id, job| %>
    <%= render :partial => 'failed_job', :locals => {:id => id, :job => job} %>
  <% end %>
</ul>

<%= pagination :start => failure_start_at, :total => failure_size unless params[:class] %>
<% end %>
